{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
  <div class="auth-wrapper">
    <div class="auth-box">
      <h2>Create Account</h2>
       {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

      <form method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Choose a username" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Create a password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Repeat password" required>

        <button type="submit">Register</button>
      </form>

      <p class="switch-link">Already have an account? <a href="{% url 'login_user' %}">Login</a></p>
    </div>
  </div>
</body>
</html>
